@import url('https://fonts.googleapis.com/css2?family=Anton&display=wap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@500&display=wap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  background-color: #131313;
  min-height: 100vh;
  text-align: center;

  --background-item-color: #4F4F4F;
  --highlight-color: #1E90FF;
  --primary-color: #8B0000;
}
.content{
  display: flex;
}

.nav-link {
  color: var(--highlight-color);
  font-weight: bold;
  font-size: 20px;
  margin: 20px;
  text-decoration: none;
  opacity: .4;
}
.nav-link:hover {
  opacity: 1;
}
.nav-link.active {
  opacity: 1;
  border-bottom: solid 1px var(--highlight-color);
}